################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Logs
/SerilogSample/.vs/SerilogSample
/SerilogSample/SerilogSample/bin/Debug/netcoreapp3.1
/SerilogSample/SerilogSample/obj
